html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import "./common/variables.scss";

@import "./forms/personalInfoForm.scss";

@import "./customComponents/ProgressBar.scss";
@import "./customComponents/introInfo.scss";
@import "./customComponents/button.scss";
@import "./customComponents/rating.scss";

@import "../styles/pages/personal-info.scss";
